<h1>Editing production stage</h1>

<%= render "form", production_stage: @production_stage %>

<br>

<div>
  <%= link_to "Show this production stage", @production_stage %> |
  <%= link_to "Back to production stages", production_stages_path %>
</div>
